on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
permissions:
  contents: write
jobs:
  update:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - shell: bash
        run: |
          ./apod.sh
          git config user.name sirekanian
          git config user.email sirekanian@pm.me
          git add json image README.md
          git commit -m updated || true
          git push
